* {
    margin: 2px;
    background-color: aqua;
    text-align: center;
}
h1 {
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    font-size: 4rem;
}
nav {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}
nav a {
    background-color: lightgray;
    text-decoration: none;
}
p {
    margin: 4rem;
    font-size: 2rem;
}
